body,html {
  margin: 0px; /*Get rid of gap around web page*/
  background-image: url("images/background.jpg"); /*Tiled wood image*/
  background-attachment: fixed; /*Background won't scroll*/
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.container {
  margin: auto; /*Center the container*/
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1000px; /*Container never wider than this*/
  background: rgba(116,118,111, 0.4); /*Grey background with 0.4 opacity*/
  border: thin solid #e1e1e1;
  border-radius: 10px;
  padding: 10px;
}

.subcontainer {
  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: 1fr;
  margin: 20px;
  background: rgba(70,70,70, 0.4);
  border-radius: 10px;
}

.header {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url("images/heading.jpg");
  height:61px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar {
  grid-column: 1/2;
  grid-row: 2/3;
}

.main {
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
  justify-content: space-evenly;
}

.gallery {
  display: inline-grid;
  grid-template-columns: 400px 400px;
  grid-gap: 20px;
  margin: 20px;
}

ul.nav {
	margin:0px;
	padding:0px;
	float:left; /*This is needed in order to get the buttons side-by-side*/
	width:100%;
	border:1px solid #42432d;
	border-width:1px 0px;
	background:url("images/navBackground.png");
	box-shadow: inset 0px 0px 10px #000; /*Puts an inset shadow between the header image and the navbar*/
}
ul.nav li{
	display:inline; /*This helps put the buttons inside the narrow navbar and side-by-side*/
	padding:0px;
	margin:0px;
}
ul.nav li:first-child a{
	border-left:1px solid #42432d; /*Doesn't work with IE, but adds a left border to the FIRST button*/
}
ul.nav a:link, ul.nav a:visited { /*For the entire unordered list of buttons*/
	color:#000;
	background:#ce7229;	
	padding:20px 40px 4px 10px;
	float:left;
	width:auto;
	border-right:1px solid #42432d;
	text-decoration:none;
	font:bold 1em/1em Arial,Helvetica,sans-serif; /*Using shorthand CSS here (explanation: www.javascriptkit.com/dhtmltutors/cssshorthand.shtml)*/
	text-transform:uppercase; /*Make all the text uppercase*/
	text-shadow: 2px 2px 2px #555; /*Puts a drop-shadow on the text (in order: x-coord, y-coord, amount of blur, colour)*/
}
ul.nav a:hover {
	color:#fff;
	background:#ab5b1c;	
}
ul.polaroid li { /*For the Polaroid photo effect in this unordered list of photos*/
	list-style:none; /*Get rid of list bullets*/
	float:left; /*Make photos go side-by-side instead of vertical*/
	padding: 10px 10px 25px 10px; /*Bottom padding is more so that it is thicker - like Polaroid photos*/
	background:#eee; /*Egg shell coloured instead of pure white*/
	border: 1px solid #fff; /*Pure white border gives a kind of 3D effect when photos are overlapping*/
	margin:-20px; /*This makes the photos overlap each other like they are just thrown together as a stack*/
}
ul.polaroid li.a { /*Each list item in the unordered list of photos*/
	z-index:1; /*This makes each photo 1 layer above whatever is underneath (like the YouTube video)*/
	-webkit-transform: rotate(-10deg); /*These two lines are for rotating the photo away from vertical (each photo is slightly different)*/
	-moz-transform: rotate(-10deg); /*For Mozilla Firefox*/
	-ms-transform: rotate(-10deg); /*For IE*/
}
ul.polaroid li.b {
	z-index:1;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);	
	-ms-transform: rotate(-3deg);
}
ul.polaroid li.c {
	z-index:1;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
}
ul.polaroid li.d {
	z-index:1;
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
}
#pineapple {
	position:fixed; /*This will make the box stay in place while the rest of the web page scrolls*/
	right:0px; /*Positioned bottom-right*/
	bottom:0px;
	background:url("images/pineapple.gif");
	width:105px;
	height:255px;
}
#uke{
	position:fixed;
	left:0px;
	bottom:0px;
	background:url("images/fixeduke.gif");
	width:98px;
	height:290px;	
}